* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: rgba(240, 248, 255, 0.555);
}

.is-sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0 2px 24px 0 rgb(0 0 0 / 15%);
  background-color: #ffffff !important;
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  padding-top: 0px;
  padding-bottom: 0px;
}

.input-search-admin {
  padding: 5px;
  border: solid 1px #bbbbbb;
  border-radius: 5px;
  outline: none;
  height: 40px;
  width: 300px;
}

.btn-search-admin {
  padding: 5px 10px;
  color: white;
  background-color: var(--main-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 40px;
}

.btn-search-admin:hover {
  background-color: #00aee9;
}